langchain
torch
ctransformers
pypdf
bitsandbytes
accelerate
Chromadb==0.3.29
pysqlite3-binary
transformers
gunicorn
sentence_transformers
streamlit
altair==4.2.2
langchain-community
streamlit_chat
faiss-cpu
altair
tiktoken
huggingface-hub
